.row .columns #img{
    margin-left: 15%;
    margin-top: 10%;
    box-shadow: 5px 5px rgb(205, 32, 32);
    height: 350px;
    width: 350;
}
.columns,.row{
    display: flex;
}
.hentry {
 margin: 20px;
}
.posts-container .box {
    margin: 10%;
   }